*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Open Sans, or Arial;
   
}

body{
    background-color: aliceblue;
    font-style: regular;
    font-size: 16px;
    line-height: 1.6;
    overflow-x: hidden;
    width: 100%;
}

/* ======== Navigation Bar and Welcome Page========= */

.navbar img{
    width: 110px;
    height: auto;
   
}

.navbar {
    position: fixed;
    background-color: #ffffff;
    width: 100%;
    height: 110px;
    display: flex;
    color: #0A437C;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

.navlink ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    gap: 100px;
    /* border: 1px slid black; */
    width: 60vw;
    justify-content: center;
}


.navlink ul li a{
    text-decoration: none;
    display: inline-block;
    text-align: center;
    color: black;
    font-size: 20px;
    width: 100px;
}

.navlink ul li a:hover{
    color: #efbe4d;
    transition: 2ms;
}


/* Home page course serach input box  */
.home-inputbox{
    position: relative;
    bottom: 30px;
    left: 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #ffffff;
    border-radius: 2px;
    width: 75vw;
    height: 10vh;
    background-color: #ffffff;
}

.inputbox-content{
    display: flex;
    gap: 30px;
    justify-content: space-between;
    width: 80%;
}

.inputbox-content label{
    display: flex;
    align-items: center;
    font-size: 20px;
}

.inputbox-content input{
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 16px;
}

.inputbox-content button{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #0A437C;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.inputbox-content button:hover{
    background-color: #d3a844;
    transition: 2ms;
}

/* Navigation bar search buttom and input box */

.searchbtn{
    position: relative;
    right: 10px;
    background-color: white;
    display: flex;
    width: 220px;
    height: 30%;
    border: 1px solid #000000;
    border-radius: 10px;
    overflow: hidden;
}

#searchbtn-item{
    border: none;
    outline: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbtn input{
  position: relative;
  left: 10px;
}

.searchbtn button{
    background-color: #0A437C;
    width: 200px;
    cursor: pointer;
    color: white;
    /* padding: 0px; */
}

.searchbtn button:hover{
    background-color: #d3a844;
}


/* WELCOME PAGE BACKGROUND IMAGE DESIGN WITH CSS */

.welcome-container{
    display: flex;
    width: 100vw;
    height: 98vh;
    background-image: url("../img/outsideimg3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.welcome-container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 98vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
} 



.welcometext{
    position: relative;
    top: 350px;
    color: #ffffff;
    /* text-align: center; */
    font-size: 30px;
    font-weight: bold;
    z-index: 1;
}

.allbtn{
     width: 100px;
     height: 50px;
     position: relative;
     top: 30px;
     border: 1px solid white;
     border-radius: 10px;
     cursor: pointer;
     font-size: large;
}

.allbtn:hover{
    background-color: transparent;
    transition: 2ms;
}

/* HOMEPAGE ABOUT US CONTENT */

.homeabout-container{
   background-color: #ffffff;
   border: 1px solid white;
   margin: 10px 20px;
   padding: 10px 10px;
   height: 300px;
}

.homeabout-content h1{
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    bottom: 10px;
}

.homeabout-item p {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   line-height: 30px;
}

.homebtn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10px;
}

#btn {
    width: 100px;
    height: 50px;
    background-color: #0A437C;
    border: 1px solid #0A437C;
    border-radius: 2px;
    
}


.homeabout-content a{
    text-decoration: none;
    color: white;
}



/* HOME PAGE CARD DESIGN  */
.homecard-container{
    position: relative;
    top: 50px;
    width: 100vw;
    height: 600px;
}
.homecard-container h1{
    display: flex;
    justify-content: center;
    text-align: center;
   
}
.homecard-design{
    margin: 10px 20px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 30px;
    gap: 20px;
}


.card-design img{
    width: 100%;
    height: auto;
}

.cardbtn a{
    text-decoration: none;
    color: white;
    font-size: 10px;
    font-weight: bold;
}

.cardbtn{
    background-color: #0A437C;
    width: 100%;   
    height: 40px;
    border: 1px solid #0A437C;
    position: relative;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* FOOTER  */

.footercontent{
    border: 1px solid black;
    background-color: #0A437C;
    color: #ffffff;
}

.footeritems{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 20px;
    padding: 20px 20px;
}
