*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: white;
}

/* ======== Navigation Bar and Welcome Page========= */

.navlogo img {
 
    width: 70px;
    height: 10vh;

}

.navlogo  {
    display: flex;
    gap: 1rem;

}
.navlogo h1{
    display: flex;
    align-items: center;
    
}

.navbar {
    position: relative;
    background-color: #004279;
    width: 100vw;
    height: 10vh;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
}

.navlink {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navlink ul {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 2rem;
    list-style: none;
}

.navlink ul li a{
    list-style-type: none;
    list-style: none;
    text-decoration: none;
    color: black;
    align-items: center;
    display: flex;
    font-size: large;
    font-weight: 500;
    color: #ffff;
    padding: 10px 20px;
    margin: 10px 10px;

    
}

.navlink ul li a:hover{
    color: #efbe4d;
    transition: 2ms;
}




/* Navigation bar search buttom and input box */

.searchbtn{
    position: relative;
    right: 10px;
    background-color: white;
    display: flex;
    width: 210px;
    height: 50%;
    border: 1px solid white;
    border-radius: 10px;
    overflow: hidden;
}

#searchbtn-item{
    border: none;
    outline: none;
}

.searchbtn button{
    background-color: #a9a9a9;
    width: 100px;
    cursor: pointer;
    /* padding: 0px; */
}

.searchbtn button:hover{
    background-color: #5b5f5c;
}


/* WELCOME PAGE BACKGROUND IMAGE DESIGN WITH CSS */

.welcome-container{
    width: 100vw;
    height: 80vh;
    background-image: url("../img/PXL_20250829_105341721.MP.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


.welcometext{
    position: relative;
    top: 200px;
    text-align: center;
    justify-content: center;
    color: #ffffff;
    word-spacing: 2px;
    letter-spacing: 10px;
    font-size: 30px;
    font-weight: bold;
}

.allbtn{
     width: 100px;
     height: 50px;
     position: relative;
     top: 30px;
     border: 1px solid white;
     border-radius: 10px;
     cursor: pointer;
     font-size: large;
}

.allbtn:hover{
    background-color: transparent;
    transition: 2ms;
}

/* HOMEPAGE ABOUT US CONTENT */

.homeabout-container{
    position: relative;
    top: 50px;
}

.homeabout-content{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.homeabout-text{
    width: 500px;
    
}
.homeabout-items{
    display: flex;
    justify-content: space-around;
}
.homeabout-img img{
    width: 500px;
    height: 400px;
}
.homeabout-text {
    position: relative;
    top: 80px;
}

.homeabout-text button{
    position: relative;
    top: 20px;
    width: 100px;
    height: 50px;
    border: 1px solid ;
    border-radius: 10px;
    cursor: pointer;
    background-color: #004279;
    color: #ffffff;
    font-size: 12px;
}

.homeabout-text button:hover{
    background-color: #d3a844;
    transition: 2ms;
}






